.grid-container {
display: grid;
grid-template-rows: 100px 300px;
grid-template-columns: auto;
}
@media only screen and (max-width: 600px){
div{
    display: flex;
    flex-direction: column;
}
.mainlayout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.media .image {
    grid-column: 1;
    grid-row: 1;
    background-color: blanchedalmond;
}
}
